{% extends "body.html" %}
{% block content %}
<!-- Content -->
<div class="container" role="main">
    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table sortable">
                <thead>
                    <tr>
                      <th style="width: 20%">Time</th>
                        <th style="width: 80%">Comment</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in comments %}
                   <tr>

                       <td>{{ item.time }}</td>
                       <td>
                           {{ item.comment }}
                           <br/>
                           <form method="post" enctype="multipart/form-data" action="/addSubcomment" class="panel-body validate">
                               {% csrf_token %}
                                 <input type="text" name="subcomment" id="subcomment" placeholder="Reply" class="form-control" data-bvalidator="required" data-bvalidator-msg="Comment Required">
                                 <input type="hidden" name="id" id="id" value={{ item.id }}>
                                 <input type="submit" value="Post" class="btn btn-sm btn-danger">
                           </form>
                       </td>
                   </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <form method="post" enctype="multipart/form-data" action="/addcomment" class="panel-body validate">
        {% csrf_token %}
             <label for="comment">Comment</label>
             <input type="text" name="comment" id="comment" placeholder="Comment" class="form-control" data-bvalidator="required" data-bvalidator-msg="Comment Required">
             <br>
             <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}