{% extends "body.html" %}
{% block content %}
<!-- Content -->
<div class="container" role="main">
    <div class="panel panel-default">
        <form method="post" enctype="multipart/form-data" action="/addcomment" class="panel-body validate">
        {% csrf_token %}
             <label for="comment">Comment</label>
             <input type="text" name="comment" id="comment" placeholder="Comment" class="form-control" data-bvalidator="required" data-bvalidator-msg="Comment Required">
             <br>
             <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}
