{% extends "body.html" %}
{% block content %}
    <!-- Content -->
    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                    <tr>
                      <th style="width: 20%">Time</th>
                        <th style="width: 80%">Comment</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in comments %}
                   <tr>
                       <td>{{ item.time }}</td>
                       <td>{{ item.comment }}</td>
                   </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
