{% extends "body.html" %}

{% block content %}

    <!-- Content -->
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
                        <th></th>
						<th>Company</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
                    {% for item in companies %}
                    <tr>
                        <td><a href="/company?name={{ item.name }}"><img src="/{{ item.photo }}" alt="Company Image" width=50/></a></td>
                        <td><a href="/company?name={{ item.name }}">{{ item.name }}</a></td>
                        <td>{{ item.description }}</td>
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
    </div>

{% endblock %}