{% extends "base.html" %}

{% block head_title %}Logout | {% endblock %}

{% block navbar %}				
	<li><a href="/login">Log-in</a></li>
	<li><a href="/register">Create Profile</a></li>
{% endblock %}

{% block content %}

	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>Hi There!</h1>
			<p>Welcome to CS Capstone Project</p>
			<br>
			<a href="/login">Log in</a>
			<br>
			<a href="/register">Register</a>

		</div>
    </div>

{% endblock %}