{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron">
			<h3 style="margin: 0px; padding: 0px;">{{ group.name }} - Add new group member</h3>
			<br>
			<a href="/group?name={{ group.name }}" class="btn btn-default">Back to Group</a>
		</div>
		<div class="panel panel-default">
			<form method="post" action="/group/addmembersuccess?name={{ group.name }}" class="panel-body validate">
				{% csrf_token %}
				<label for="email">New Member's Email</label>
				<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="email" id="email" placeholder="Email" class="form-control" data-bvalidator="required" data-bvalidator-msg="Email Required">
				<br>
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
	</div>
	
{% endblock %}