{% extends "body.html" %}

{% block content %}

<!-- Content -->
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>{{ group.name }}</h1>
    <p>{{ group.description }}</p>
    {% if userIsMember %}
    <a href="/group/edit?name={{ group.name }}" class="btn btn-default">Edit this Group</a>
    <a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
    <a href="/group/delete?name={{ group.name }}" class="btn btn-danger">Delete this Group</a>
    {% elif is_student == True %}
    <a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped sortable">
      <thead>
        <tr>
          <th>Users</th>
        </tr>
      </thead>
      <tbody>
        {% for item in group.members.all %}
        <tr>
          <td>{{ item.get_full_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
<div class="container" role="main">
  <div class="table-responsive">
    <table class="table table-striped sortable">
      <thead>
        <tr>
          <th style="width: 15%">Time</th>
          <th style="width: 15%">User</th>
          <th style="width: 70%">Comment</th>
        </tr>
      </thead>
      <tbody>
        {% for item in comments %}
        <tr>
          <td>{{ item.time }}</td>
          <td>{{ item.createdBy.get_full_name }}</td>
          <td>{{ item.comment }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
