{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description }}</p>
			{% if userIsMember %}
			<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Leave this Group</a>
			<a href="/group/addmember?name={{ group.name }}" class="btn btn-default">Add New Group Member</a>
			<a href="/group/requests?name={{ group.name }}" class="btn btn-default">Membership Requests ({{ numRequests }})</a>
			{% else %}
			<a href="/group/requestjoin?name={{ group.name }}" class="btn btn-default">Request access to this Group</a>
			<h6 style="color:{{ requestColor }}">{{ requestText }}</h6>
			{% endif %}
		</div>
	</div>

	{% if userIsMember %}
	<div class="container theme-showcase">
		<div class="jumbotron">
			<h2>Project</h2>
			{% if group.project %}
			<h3><a href="/project?name={{ group.project.name }}">{{ group.project }}</a></h3>
			{% else %}
			<h3>None</h3>
			{% endif %}
		</div>
	</div>
	<br>
	{% endif %}

	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Users</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
						<td>{{ item.email }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<br>
	{% if userIsMember %}
	<div class="container" id="comments">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th width=15%>Poster</th>
						<th width=50%>Comment</th>
						<th width=5%></th>
						<th width=20%>Date</th>
						<th width=10%></th>
					</tr>
				</thead>
				<tbody>
					{% for item in comments %}
					<tr>
						<td>{{ item.poster.get_full_name }}</td>
						<td>{{ item.text }}</td>
						<td></td>
						<td>{{ item.stamp }} (UTC)</td>
						{% if item.poster == user %}
						<td><a href="/group/deletecomment?name={{ group.name }}&cid={{ item.cid }}#comments" class="btn btn-default">Delete</a></td>
						{% else %}
						<td></td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="panel panel-default">
			<form method="post" action="/group/addcomment?name={{ group.name }}#comments" class="panel-body validate">
				{% csrf_token %}
				<label for="comment">New comment</label>
				<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="comment" id="comment" placeholder="Comment" class="form-control" data-bvalidator="required" data-bvalidator-msg="Comment Required">
				<br>
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
	</div>
	{% endif %}
{% endblock %}