/*
	@ Harris Christiansen (Harris@HarrisChristiansen.com)
	2016-09-18
	Project: HTML5 Boilerplate
*/

/* ------------------------ HTML/Body ------------------------- */

body {
	padding-top: 55px;
}

.huge_txt {
	font-size: 3em;
}

.navbar-default {
	color: blue !important;
}

/* ------------------------ User Images ------------------------- */

.user-image {
	max-width: 150px;
	max-height: 150px;
}

/* ------------------------ Tables ------------------------- */

.table-clickable tbody tr:hover {
	cursor: pointer;
}

/* ------------------------ Equal Hight Columns ------------------------- */

.equal, .equal > div[class*='col-'] {
	display: -webkit-flex;
	display: flex;
	flex: 1 1 auto;
}

/* ------------------------ Panels ------------------------- */

.panel-green {
	border-color: #5cb85c;
}
.panel-green > .panel-heading {
	border-color: #5cb85c;
	color: white;
	background-color: #5cb85c;
}
.panel-green > a {
	color: #5cb85c;
}
.panel-green > a:hover {
	color: #3d8b3d;
}
.panel-red {
	border-color: #d9534f;
}
.panel-red > .panel-heading {
	border-color: #d9534f;
	color: white;
	background-color: #d9534f;
}
.panel-red > a {
	color: #d9534f;
}
.panel-red > a:hover {
	color: #b52b27;
}
.panel-yellow {
	border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
	border-color: #f0ad4e;
	color: white;
	background-color: #f0ad4e;
}
.panel-yellow > a {
	color: #f0ad4e;
}
.panel-yellow > a:hover {
	color: #df8a13;
}

/* ------------------------ End ------------------------- */
