{% extends "body.html" %}

{% block content %}

	<!-- Content -->
    <div class="container theme-showcase" role="main">
        <p style="font-family: 'Courier New'; font-size: x-small;"><b>Account type:</b> <u>{{ type }}</u></p>
		<div class="jumbotron">
			<h1 style="text-align: center"><img class="img-circle" src="{{ profile.pic.url }}"></h1>
			<p>Welcome <b>{{ user.first_name }}</b>, to the CS390-Python CS Capstone Project!</p>
            <a class="btn btn-sm btn-default" style="float: right" href="/update_profile">Edit Account Info</a>
		</div>
        <div class="container" style="font-family: 'Courier New';">
            <p><b><u>Account Summary</u></b></p>
            <p><b>Name:</b> {{ user.first_name }} {{ user.last_name }}</p>
            <p><b>University:</b> {{ profile.university }}</p>
            <p><b>Department:</b> {{ profile.department }}</p>
            <p><b>Contact:</b> {{ profile.contact }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
        </div>
    </div>

{% endblock %}