{% extends "body.html" %}

{% block content %}
	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron">
			<h1 style="margin: 0px; padding: 0px;">{{ university.name }}</h3>
			<h3 style="margin: 0px; padding: 0px;">Create New Course</h3>
		</div>
		<div class="panel panel-default">
            {% if course.id %}
			<form method="post" enctype="multipart/form-data" action="{% url 'course-edit' course.id %}" class="panel-body validate">
            {% else %}
            <form method="post" enctype="multipart/form-data" action="{% url 'course-create' %}" class="panel-body validate">
            {% endif %}
                {% csrf_token %}
				<label for="tag">Tag (ex. CS490)</label>
				<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="tag" id="tag" placeholder="Tag" class="form-control" data-bvalidator="required">
				<br>
				<label for="name">Name (ex. Senior Design)</label>
				<input type="text" name="name" id="name" placeholder="Name" class="form-control" data-bvalidator="required">
				<br>
				<label for="description">Course Description</label>
				<input type="text" name="description" id="description" placeholder="Description" class="form-control" data-bvalidator="required">
				<br>
				<input type="submit" value="Save Course" class="btn btn-primary">
			</form>
		</div>
    </div>
{% endblock %}