{% extends "body.html" %}

{% block content %}
	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h2>{{ course.tag }}</h2>
			<h3>{{ course.name }}</h3>
			<p>{{ course.description }}</p>
            {% if userIsMember %}
            <a href="{% url 'course-unjoin' course.id %}" class="btn btn-default">Unjoin this Course</a>
            <a href="{% url 'course-delete' course.id %}" class="btn btn-default">Delete this Course</a>
                {% if user.is_teacher %}
                <a href="{% url 'course-addcoursemember' course.id %}" class="btn btn-default">Add a student</a>
                {% endif %}
            {% else %}
            <a href="{% url 'course-join' course.id %}" class="btn btn-default">Join this Course</a>
            {% endif %}
		</div>
    </div>
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Students</th>
					</tr>
				</thead>
				<tbody>
					{% for item in course.student_set.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
        <div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Instructors</th>
					</tr>
				</thead>
				<tbody>
					{% for item in course.teacher_set.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
{% endblock %}