{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron">
			<h3 style="margin: 0px; padding: 0px;">
				{{ university.name|default:"Create University" }}
			</h3>
		</div>
		<div class="panel panel-default">
			{% if university.id %}
			<form method="post" action="{% url 'university-edit' university.slug %}" class="panel-body validate" enctype="multipart/form-data">
			{% else %}
			<form method="post" action="{% url 'university-create' %}" class="panel-body validate" enctype="multipart/form-data">
			{% endif %}
				{% csrf_token %}
				<label for="name">Name</label>
				<input type="text" name="name" id="name" placeholder="Name" class="form-control" data-bvalidator="required" value="{{ university.name }}">
				<br>
				<label for="photo">Upload a Photo</label>
                <input type="file" name="photo" id="photo" placeholder="Photo" class="form-control" value="{{ university.photo }}">
                <br>
				<label for="description">University Description</label>
				<textarea name="description" id="description" placeholder="Description" class="form-control" data-bvalidator="required" rows="4">{{ university.description }}</textarea>
				<br>
				<label for="website">Website</label>
				<input type="text" name="website" id="website" placeholder="Website" class="form-control" value="{{ university.website }}" data-bvalidator="url" data-bvalidator-msg="Please enter a valid website URL">
				<br>
				<label for="slug">Slug</label>
				<input type="text" name="slug" id="slug" placeholder="Slug" class="form-control"
				value="{{ university.slug }}">
				<br>
				<input type="submit" value="Create University" class="btn btn-primary">
			</form>
		</div>
	</div>
	
{% endblock %}
