{% extends "body.html" %}

{% block content %}
	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
            <img src="{{ university.photo }}" alt="University Image" width=150/>
			<h3>{{ university.name }}</h3>
			<p>{{ university.description }}</p>
            <h5><a href="{{ university.website }}">Website</a></h5>
            {% if userIsMember %}
            <a href="/unjoin?name={{ university.name }}" class="btn btn-default">Unjoin this University</a>
            {% else %}
            <a href="/join?name={{ university.name }}" class="btn btn-default">Join this University</a>
            {% endif %}
		</div>
    </div>
    <div class="container" role="main">
            <div class="table-responsive">
                <table class="table table-striped sortable">
                    <thead>
                        <tr>
                            <th>Users</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in university.members.all %}
                        <tr>
                            <td>{{ item.get_full_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}